.row {
    margin: 0 10em;
    max-width: none;
    width: 80%;
    text-align:left;
}

div {
    display: block;
}
.column, .columns{
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
}

#downloads .download-list hr {
    margin: 2rem 1rem;
}

#downloads h5 {
    font-size: 25px;
}

#downloads .button {
    width: 100%;
}
.button.blue, button.blue {
    border-color: #06c;
    color: #06c;
}

.button:hover, button:hover {
    background-color: #c00;
}
.button:visited, button:visited {
    color: #c00;
}
.button, button {
    -webkit-transition: background .2s ease-in 0s;
    border: 1;
    border-color: #06c;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.44;
    margin-left: 0!important;
    margin-right: 0!important;
    padding: 9px 40px;
    text-align: center;
    transition: background .2s ease-in 0s;
}

h5 {
    font-size: 14px;
    font-weight: 600;
}
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}