* {cursor: pointer;}
.weui_mask_transition {
	display: none;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0);
	-webkit-transition: background .3s;
	transition: background .3s;
}
.weui_fade_toggle {
	background: rgba(0, 0, 0, 0.6);
}
.weui_actionsheet {
	position: fixed;
	left: 0;
	bottom: 0;
	-webkit-transform: translate(0, 100%);
	-ms-transform: translate(0, 100%);
	transform: translate(0, 100%);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 2;
	width: 100%;
	background-color: #EFEFF4;
	-webkit-transition: -webkit-transform .3s;
	transition: transform .3s;
}
.weui_actionsheet_toggle {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
.weui_actionsheet_menu {
	background-color: #FFFFFF;
}
.weui_actionsheet_cell:before {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1px;
	border-top: 1px solid #D9D9D9;
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
}
.weui_actionsheet_cell:first-child:before {
	display: none;
}
.weui_actionsheet_cell {
	position: relative;
	padding: 10px 0;
	text-align: center;
	font-size: 18px;
}
.weui_actionsheet_cell.title {
	color: #999;
}
.weui_actionsheet_action {
	margin-top: 6px;
	background-color: #FFFFFF;
}

#qrcode-mask {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    position: fixed;
    z-index: 990;
    left: 0;
    top: 0;
}

#qrcode-mask-content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transform: translate(50%, 50%);
    -o-transform: translate(50%, 50%);
    z-index: 991;
}

#hide-qrcode-mask {
    float: right;
    width: 50px;
    color: #FFFFFF;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

#hide-qrcode-mask::before {
    content: "\d7";
    font-size: 30px;
}



#game-mask {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    position: fixed;
    z-index: 990;
    left: 0;
    top: 0;
}

#game-mask-content {
	width:80%;
	padding:10px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transform: translate(50%, 50%);
    -o-transform: translate(50%, 50%);
    z-index: 991;
	background-color: #FFFFFF;
	border-radius: 3px;
}

#hide-game-mask {
    width: 5%;
	margin-right:10px;
	float:right;
    color: #000000;
    height: 40px;
    line-height: 35px;
    text-align: center;
}

#hide-game-mask::before {
    content: "\d7";
    font-size: 30px;
}

#ul-game > li {
	display: inline-block;
	width: 45%;
	margin: 3px;
	border-radius: 15px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border:1px solid #179b16;
}

#game-mask-title {
	float:left; 
	line-height:40px; 
	margin-left:10px;
}		

#game-mask-details > p {
	color: #000000;
	font-size: 100%;
	line-height:25px;
}





#invest-mask {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    position: fixed;
    z-index: 990;
    left: 0;
    top: 0;
}

#invest-mask-content {
	width:80%;
	padding:10px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transform: translate(50%, 50%);
    -o-transform: translate(50%, 50%);
    z-index: 991;
	background-color: #FFFFFF;
	border-radius: 3px;
}

#hide-invest-mask {
    width: 5%;
	margin-right:10px;
	float:right;
    color: #000000;
    height: 40px;
    line-height: 35px;
    text-align: center;
}

#hide-invest-mask::before {
    content: "\d7";
    font-size: 30px;
}

#ul-invest > li {
	display: inline-block;
	width: 45%;
	margin: 3px;
	border-radius: 4px;
	height: 50px;
	text-align: center;
	line-height: 40px;
	border:1px solid #179b16;
}

#invest-mask-title {
	float:left; 
	line-height:40px; 
	margin-left:10px;
}		

#invest-mask-details > p {
	color: #000000;
	font-size: 100%;
	line-height:25px;
}