.con-listTab{
    position: relative;
    min-height: 488px;
}

.con-listTab ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.con-listTab li {
    list-style: none;
}

.list-new_v1 {
    margin-left: -6px;
    position: relative;
    zoom: 1;
}

.list-new_v1 .boder_v1 {
    position: relative;
    float: left;
    width: 241px;
    height: 270px;
    border: 1px solid #e5e5e5;
    margin: 6px 0 10px 6px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}
.list-new_v1 .boder_v1:hover{
    border-color: #02cfd4;
}
.list-new_v1 .boder_v1 img {
    margin-bottom: 10px;
}
.list-new_v1 .boder_v1 a{
    display: block;
}
.icons-div_v1 {
    margin-top: 15px;
    padding-top: 13px;
    border-top: 1px solid #f2f2f2;
}
.mark_text{
    max-height: 26px;
    overflow: hidden;
}
.mark_text span {
    display: inline-block;
    width: 60px;
    font-size: 12px;
    color: #02cfd4;
    margin: 0 2px;
    padding: 2px 4px;
    border: 1px solid #02cfd4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}