.boder_v1 {
    list-style: none;
    float: left;
    width: 300px;
    height: 400px;
    border: 1px solid #e5e5e5;
    margin: 5px 20px 5px;
    padding: 20px;
    cursor: pointer;
}
.boder_v1:hover{
    border-color: #02cfd4;
}
.price-show{
    display: block;
    position: relative;  
    text-align: center; 
    margin: 20px 0px 0px;
    padding: 0px 5px; 
    white-space: nowrap; 
    height: 25px;    
    line-height: 25px;    
    border: 1px solid #e5e5e5;    
    background: #fff;    
    -webkit-border-radius: 3px;    
    -moz-border-radius: 3px;    
    border-radius: 3px;    
    color: #666;    
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}
.boder_v1:hover .price-show{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -transform:scale(1.1);
}
.type-img{
    width: 60px;
    height: 60px;
    float: left;
}
.description {
    height: 180px;
    background: #fff;
    border: 1px solid #e5e5e5;
    word-wrap: break-word;
    margin: 20px 0px 20px;
    box-shadow: 0px 2px 2px rgba(0,0,0,.2);
}
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
}